[Unit]
Description=Ratatoskr Service

[Service]
EnvironmentFile=/home/divanvisagie/src/ratatoskr/.env
ExecStart=/home/divanvisagie/src/ratatoskr/bin/ratatoskr
WorkingDirectory=/home/divanvisagie/src/ratatoskr/bin/
Restart=always
User=divanvisagie
Group=divanvisagie

[Install]
WantedBy=multi-user.target
